@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
.search_btn{
    border:1px solid #000000;
    margin-left: 4%;
    padding: 0;
}
.app_name{
   margin-left: 13%;
    font-family: 'Fredoka', sans-serif;
 
}

.menu{
    margin-left: 30%;
}