@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
.search_btn{
    position: relative;
    left:-32%;
    border:1px solid #000000;
}
.app_name{
    position: absolute;
    right:45%;
    font-family: 'Fredoka', sans-serif;
 
}

.menu{
    margin-right:10px;
}